@font-face {
   font-family: 'Archivo Black';
   font-style: regular;
   font-weight: 400;
   src: url('file:///E:/Robson/F/MY%20CLIENTES/MAK%20PEL%C3%8DCULAS/MOBIRISE//fonts/Archivo Black/regular.ttf') format('truetype');
}
